html {
  max-width: 1440px;
}
body {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  margin: 0;
  padding: 0;
}

button {
  list-style: none;
  border: none;
  outline: none;
}

.hidden {
  display: none !important;
}

.wrapper {
  min-width: 320px; 
  margin: 0 auto;
}

@media (min-width: 768px){
  .wrapper {
    width: 768px; 
  }
}

@media (min-width: 1220px){
  html {
    margin: 0 auto;
    max-width: 1440px;
  }
  body {
    margin: 0 auto;
    padding: 0;
  }
  .wrapper {
    min-width: 1220px; 
  }
}

/*Стилизация блока top-header*/
/*Мобильная версия*/
.top-header__main-logo--tablet {
  display: none;
  margin-top: -5px;
}

.top-header__main-logo--desktop {
  display: none;
}

.top-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
}


.top-header__button {
  position: relative;
  width: 26px;
  height: 20px;
  background-color: transparent;
}

.top-header__button span {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000000;
}

.top-header__button span::before,
.top-header__button span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000000;
  transition-duration: 0.1s, 0.1s;
  transition-delay: 0.1s, 0s;
  content: "";
}

.top-header__button span::before {
  top: -10px;
  transition-property: top, transform;
}

.top-header__button span::after {
  bottom: -10px;
  transition-property: bottom, transform;
}

.top-header__button.active span {
  background: none;
}
 
.top-header__button.active span::before {
  top: 0;
  transform: rotate(45deg);
}
 
.top-header__button.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
 
.top-header__button.active span::before,
.top-header__button.active span::after {
  transition-delay: 0s, 0.1s;
}

.main-nav--wide-screen {
  display: none;
}

.main-nav--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-nav--mobile .main-nav__item {
  width: 100%;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
}

.main-nav__item a {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.main-nav__item a:hover {
  opacity: 0.6;
}

.main-nav__item a:active {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: #68b738;
}

.main-nav__item--mobile-last-item {
  border-bottom: 1px solid #e6e6e6;
}


/*Планшетная версия*/

@media (min-width: 768px){
  .top-header__inner {
    padding: 30px 20px;
  }
  .top-header__main-logo--mobile {
    display: none;
  }
  
  .main-logo__text--mobile {
    display: none;
  }
  
  .top-header__main-logo--tablet {
    display: block;
  }
  
  .top-header__main-logo--desktop {
    display: none;
  }
  
  .main-nav__item a {
    font-size: 18px;
    font-weight: 300;
  }
  
  .main-nav--mobile {
    display: none;
  }
  
  .main-nav--wide-screen {
    display: block;
  }
  
  .main-nav--wide-screen .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-header__button {
    display: none;
  }
  
  .main-nav__item {
    margin-right: 40px;
  }
  
  .main-nav__item:last-child {
    margin-right: 0;
  }
}


/*Десктопная версия*/

@media (min-width: 1220px){
  .top-header__inner{
    max-width: 1440px;
    padding-top: 40px;  
  }
  
  body {
    background-image: url(img/indexBackgroundDesktop.jpg);
    background-position: top right;
    background-repeat: no-repeat;
  }
  
  .top-header__main-logo--mobile {
    display: none;
  }
  
  .main-logo__text--mobile {
    display: none;
  }
  
  .top-header__main-logo--tablet {
    display: none;
  }
  
  .top-header__main-logo--desktop {
    display: block;
  }
  
  .main-nav--mobile {
    display: none;
  }
  
  .main-nav--wide-screen {
    display: block;
  }
  
  .main-nav--wide-screen .main-nav__list {
    display: flex; 
    justify-content: flex-end;
  }
  
  .main-nav__item a {
    color: #ffffff;
  }
  
  .top-header__button {
    display: none;
  }
}


/*Стилизация блока page-banner*/
/*Мобильная версия*/
.page-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(img/indexBackgroundMobile.jpg);
  background-position: top;
  background-repeat: no-repeat;
}

.page-banner__image {
  width: 300px;
  margin-left: -18px;
}

.page-banner__title {
  margin-top: 28px;
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.page-banner__text {
  margin-bottom: 24px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
  color: #ffffff;
}

.footer-map {
  overflow: hidden;
}

.page-banner__button {
  width: 100%;
  height: 40px;
  border-left: 20px;
  border-right: 20px;
  border-color: #ffffff;
  border-style: solid;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  cursor: pointer;
}

.page-banner__button:hover,
.page-banner__button:focus {
  background-color: #5eaa2f;
}

.page-banner__button:active {
  color: #92c37a;
}


/*Планшетная версия*/

@media (min-width: 768px){
  .page-banner {
    overflow: hidden;
    align-items: flex-start;
    background-image: none;
  }
  
  .page-banner__title {
    margin-left: 105px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  .page-banner__text {
    margin-bottom: 42px;
    margin-left: 105px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
  
  .page-banner__image {
    width: 680px;
    margin-top: -70px;
    margin-left: 60px;
    order: 1;
    z-index: -1;
  }
  
  .page-banner__button {
    width: 245px;
    height: 52px;
    margin-left: 105px;
    border: none;
    font-size: 20px;
  }
}

/*Десктопная версия*/
@media (min-width: 1220px){
  .page-banner {
    min-height: 600px;
    position: relative;
    align-items: flex-start;
    background-image: none;
    overflow: hidden;
  }
  
  .page-banner__title {
    margin-top: 100px;
    margin-left: 120px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  .page-banner__text {
    margin-bottom: 42px;
    margin-left: 120px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
  
  .page-banner__button {
    width: 245px;
    height: 52px;
    margin-left: 120px;
    font-size: 20px;
  }
  
  .page-banner__image {
    position: absolute;
    right: 220px;
    top: 80px;
    width: 552px;
    z-index: -1;
  }
}


/*Стилизация блока catalog */
/*Мобильная версия */
.catalog__inner {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.catalog-item {
  margin-bottom: 20px;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.catalog-item-1 {
  background-image: url(img/catalogItem1.png);
  background-size: 50px 50px;
  background-position: 20px 28px;
  background-repeat: no-repeat;
}

.catalog-item-2 {
  background-image: url(img/catalogItem2.png);
  background-size: 64px 50px;
  background-position: 12px 30px;
  background-repeat: no-repeat;
}

.catalog-item__title {
  margin-left: 70px;
  margin-bottom: 35px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #111111; 
}

.catalog-item__description {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444; 
  border-bottom: 1px solid #d9d9d9;
}

.catalog-item__link {
  display: flex;
  align-items: center;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111; 
}

.catalog-item__link::after {
  display: block;
  width: 35px;
  height: 11px;
  background-image: url(img/rightArrow.png);
  background-position: right;
  background-repeat: no-repeat;
  content: "";
}


/*Версия для планшета*/
@media (min-width: 768px){
  .catalog-item {
    width: 728px;
    margin-bottom: 25px;
    padding-top: 55px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
  
  .catalog-item-1 {
    background-image: url(img/catalogItem1.png);
    background-size: 220px 220px;
    background-position: 440px 58px;
    background-repeat: no-repeat;
  }

.catalog-item-2 {
    background-image: url(img/catalogItem2.png);
    background-size: 264px 200px;
    background-position: 420px 58px;
    background-repeat: no-repeat;
  }

  
  .catalog-item__title {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .catalog-item__description {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }
  
  .catalog-item__link {
    font-size: 20px;
  }
}


/*Десктопная версия*/
@media (min-width: 1220px){
  .catalog__inner {
    display: flex;
    margin-top: 10px;
    padding: 12px 0px;
    box-sizing: border-box;
  }
  
  .catalog__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
  
  .catalog-item-1 {
    margin-right: 80px;
  }
  
  .catalog-item__title {
    margin-left: 125px;
    margin-bottom: 35px;
  }
  
  .catalog-item__description {
    max-width: 100%;
  }
}


/*Стилизация блока how-it-work*/
/*Мобильная версия*/
.how-it-work {
  padding-left: 20px;
  padding-right: 20px;
}

.how-it-work__title {
  margin-bottom: 20px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 36px;
  color: #111111; 
}

.how-it-work__description {
  max-width: 500px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.how-it-work__item {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  background-size: 60px 60px;
  background-position: center left;
  background-repeat: no-repeat;
}

.how-it-work__item-1 {
  background-image: url(img/howItWorkItem1.png);
}

.how-it-work__item-2 {
  background-image: url(img/howItWorkItem2.png);
}

.how-it-work__item-3 {
  background-image: url(img/howItWorkItem3.png);
}

.how-it-work__item-4 {
  background-image: url(img/howItWorkItem4.png);
}


/*Версия для планшета*/
@media (min-width: 768px) {
  .how-it-work__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .how-it-work__description {
    max-width: 250px;
    font-size: 16px;
    line-height: 24px;
  }
  
  .how-it-work__item {
    width: 354px;
    min-height: 275px;
    margin: 0;
    padding-top: 105px;
    padding-bottom: 90px;
    padding-left: 0;
    box-sizing: border-box;
    background-size: 80px 80px;
    background-position: top left;
    background-repeat: no-repeat;
}
    
    box-shadow: inset 0 0 0 1px red;
  }
}


/*Десктопная версия*/
@media (min-width: 1220px){
  .how-it-work {
    padding: 0;
  }
  
  .how-it-work__list {
    flex-wrap: nowrap;
  }
  
  how-it-work__item {
    min-height: 184px;
    margin: 0;
    padding-top: 115px;
    padding-bottom: 90px;
    padding-left: 0;
    box-sizing: border-box;
    
    box-shadow: inset 0 0 0 1px red;
  }
}


.living-example {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.living-example__title {
  margin-top: 25px;
  padding: 25px 0;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 36px;
  color: #111111; 
}

.living-example__description {
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.living-example__options {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 350px;
}

.living-example__result-title {
  width: 124px;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-family: 'Oswald', 'Arial', sans-serif;
  border: 2px solid #cfcfcf;
  border-radius: 5%;
  font-size: 24px;
  text-transform: uppercase;
  color: #111111; 
  box-sizing: border-box;
}

.living-example__result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.living-example__costs {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #111111; 
}

.living-example__result-caption {
  width: 86px;
  margin: 0;
  margin-top: -8px;
  text-align: center;
  background-color: #f2f2f2;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  color: #444444; 
}

.living-example__img {
  display: flex;
  justify-content: center;
}

.living-example__img img {
  width: 101%;
}

.living-example__img-overlay {
  display: none;
}

